<div class="container">
  {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('homepage') }}">🚀 Symfony from Space
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="current first">
            <a href="{{ path('homepage') }}">{{ 'menu.home' | trans }}</a>
          </li>

          <li {% if 'homepage_blog' in app.request.attributes.get('_route') %} class="active" {% endif %}>
            <a href="{{ path('homepage_blog') }}">{{ 'menu.blog' | trans }}</a>
          </li>

          <li {% if 'homepage_catalog' in app.request.attributes.get('_route') %} class="active" {% endif %}>
            <a href="{{ path('homepage_catalog') }}">{{ 'menu.catalog' | trans }}</a>
          </li>
          <li {% if 'translation_blog' in app.request.attributes.get('_route') %} class="active" {% endif %}>
            <a href="{{ path('translation_blog') }}"><i class="fa fa-comments" aria-hidden="true"></i></a>
          </li>

          {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <li {% if 'create_blog' in app.request.attributes.get('_route') %} class="active" {% endif %}>
              <a href="{{ path('create_blog') }}">
                <span class="glyphicon glyphicon-plus"></span>
                {{ 'menu.add' | trans }} article</a>
            </li>

            <span class="pull-right login-nav">
              {{ 'texte.perso' | trans({'%name%':app.user.username}) }}
              <a href="{{ path('fos_user_security_logout') }}">{{ 'menu.toLogOut' | trans }}</a>
            </span>

          {% else %}
            <li {% if 'fos_user_security_login' in app.request.attributes.get('_route') %} class="active" {% endif %}>
              <a href="{{ path('fos_user_security_login') }}">
                <span class="glyphicon glyphicon-log-in"></span>
                Login</a>
            </li>
            <li {% if 'fos_user_registration_register' in app.request.attributes.get('_route') %} class="active" {% endif %}>
              <a href="{{ path('fos_user_registration_register') }}">
                <span class="glyphicon glyphicon-heart-empty"></span>
                Sign up</a>
            </li>

          {% endif %}

        </ul>
      </div>

    </div>
  </nav>
</div>
